body {
    background-color: black;
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
}

.chat-input {
    flex-direction: row;
    align-items: center;
}

.chat-feed {
    flex-direction: column;
    align-items: left;
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

.chat-input-name {
    width: 20%;
    background-color: black;
    color: lightgreen;
}

.chat-input-msg {
    width: 100%;
    background-color: black;
    color: lightgreen;
}

button {
    height: 28px;
    margin-top: 10px;
    background: black;
    border: 2px solid green;
    color: lightgreen;
    font-family: monospace;
}

.chat-header {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    margin: 30px;
    color: lightgreen
}

.chat-box {
    background: black;
    border: 3px solid green;
    height: 150px;
    padding-left: 5px;
    overflow: hidden;
    color: lightgreen;
}

p {
    overflow-wrap: break-word;

}

.room-input {
    align-items: center;
    justify-content: center;
}

#countdown {
    color: lightgreen;
    display: inline-flex;
    align-items: center;
    font-size: 50px;
    height: 50px;
    width: 120px;
    margin-left: 50px;
    border: 3px solid green;
}

@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}