body {
    background-color: black;
    font-family: monospace;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    width: 50%;
    max-width: 1200px;
}

.chat-input {
    flex-direction: row;
    align-items: left;
}

.chat-feed {
    flex-direction: column;
    align-items: left;
}

input {
    display: inline;
    padding: 5px;
    margin: 10px 10px 0 0;
    height: 20px;
}

.chat-input-name {
    width: 20%;
}

.chat-input-msg {
    width: 65%;
}

button {
    height: 50px;
    margin-top: 300px;
    align-self: center;
    background-color: black;
    color: lightgreen;
    font-size: 24px;
    border: 2px solid green;
}

.chat-header {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

.chat-box {
    background: black;
    border: 2px solid green;
    height: 300px;
    padding-left: 5px;
    overflow: auto;

}

p {
    overflow-wrap: break-word;
}

.room-input {
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .sub-container {
        width: 75%;
    }
}

* Fix user-agent */ * {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

#join-button {}